{% extends "base.html" %} {% block nav_main %} jmd-nav__list-item-0 cc-nav-current j-nav-current jmd-nav__item--current {% endblock %}{% block content %}
<div class="jtpl-content content-options cc-content-parent ">
    <div class="jtpl-content__inner content-padding cc-content-parent ">
        <div class="jtpl-breadcrumb breadcrumb-options ">
            <div data-container="navigation ">
                <div class="j-nav-variant-breadcrumb ">
                    <ol itemscope="true " itemtype="http://schema.org/BreadcrumbList ">
                        <li itemscope="true " itemprop="itemListElement " itemtype="http://schema.org/ListItem " class="cc-nav-current j-nav-current "><a href="./ " data-link-title="Главная " itemprop="item " class="cc-nav-current j-nav-current
        "><span itemprop="name ">Главная</span></a>
                            <meta itemprop="position " content="1 ">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="content_area " data-container="content ">
            <div id="content_start "></div>

            <div id="cc-matrix-1929916720 ">
                <div id="cc-m-7718964820 " class="j-module n j-header ">
                    <h2 class=" " id="cc-m-header-7718964820 ">Постгарантийное обслуживание. Диагностика. Ремонт.</h2>
                </div>
                <div id="cc-m-7672984020 " class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7657290820 " class="j-module n j-spacing ">
                    <div class="cc-m-spacer " style="height: 5px; ">

                    </div>

                </div>
                <div id="cc-m-7653310120 " class="j-module n j-header ">
                    <h1 class=" " id="cc-m-header-7653310120 ">Предлагаем:</h1>
                </div>
                <div id="cc-m-7655538220 " class="j-module n j-text ">
                    <ul>
                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <span style="font-weight: 700 !important; ">многопрофильное обслуживание и ремонт автомобилей импортного производства.</span>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <span style="font-weight: 700 !important; "><span style="line-height: 1.5; ">полный спектр диагностических работ</span></span>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <span style="font-weight: 700 !important; ">демократичные цены и удобное месторасположение (200м от метро Славянский бульвар)</span>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <span style="font-weight: 700 !important; "><span style="line-height: 1.5; ">&nbsp;широкий ассортимент комплектующих материалов, &nbsp;как от официальных производителей, так и сторонних
        поставщиков.</span></span>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>установка дополнительного электрооборудования</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>тонировка автомобильных стекол</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>промывка инжекторов</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>шиномонтаж и балансировка колес</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>заправка кондиционера</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>антибактериальная обработка салона (озонирование)</b>
                        </li>

                        <li style="padding-right: 1em; position: relative; right: -1em; ">
                            <b>проточка тормозных дисков на автомобиле (без снятия)</b>
                        </li>
                    </ul>
                </div>
                <div id="cc-m-7653842020 " class="j-module n j-header ">
                    <h1 class=" " id="cc-m-header-7653842020 ">Гарантируем качество:</h1>
                </div>
                <div id="cc-m-7664789120 " class="j-module n j-spacing ">
                    <div class="cc-m-spacer " style="height: 28px; ">

                    </div>

                </div>
                <div id="cc-m-7653440320 " class="j-module n j-textWithImage ">
                    <figure class="cc-imagewrapper cc-m-image-align-1 ">
                        <img src="./static/img/photo_p.jpg " alt=" " class=" " data-src-width="2826 " data-src-height="3456 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=133x1024:format=jpg/path/s1faea6e25e26af0b/image/i21ae048153c4239c/version/1462012860/image.jpg "
                            data-image-id="5243539320 ">

                    </figure>
                    <div>
                        <div id="cc-m-textwithimage-7653440320 " data-name="text " data-action="text " class="cc-m-textwithimage-inline-rte ">
                            <p>
                                <strong>Петр Макурин - владелец и управляющий автосервисом.</strong>
                            </p>

                            <p>
                                <strong>Национальный победитель конкурса технических специалистов Chrysler/Jeep 2003г.</strong>
                            </p>

                            <p>
                                <strong>Призер международного конкурса Top Technical Contest 2005г.</strong>
                            </p>

                            <p>
                                <strong>Опыт работы в автомобильном бизнесе более 20-ти лет.</strong>
                            </p>
                        </div>
                    </div>

                    <div class="cc-clear "></div>
                </div>
                <div id="cc-m-7653398420 " class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7653356120 " class="j-module n j-spacing ">
                    <div class="cc-m-spacer " style="height: 5px; ">

                    </div>

                </div>
                <div id="cc-m-7653687620 " class="j-module n j-textWithImage ">
                    <figure class="cc-imagewrapper cc-m-image-align-1 ">
                        <img src="./static/img/oil.png " alt=" " class=" " data-src-width="500 " data-src-height="229 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=375x1024:format=png/path/s1faea6e25e26af0b/image/i930890b5e478e750/version/1462017989/image.png "
                            data-image-id="5243665520 ">

                    </figure>
                    <div>
                        <div id="cc-m-textwithimage-7653687620 " data-name="text " data-action="text " class="cc-m-textwithimage-inline-rte ">
                            <p style="color: #444444; padding-left: 60px; background-color: rgba(255, 243, 202, 0.8); ">
                                <span style="color: #000000; "><strong>&nbsp;Наш автосервис является официальной точкой продаж линейки масел &nbsp;Shell. Использование моторных масел фирмы Shell дает возможность получить
    расширенную&nbsp;гарантию на двигатель.*</strong></span>
                            </p>

                            <p style="color: #444444; background-color: rgba(255, 243, 202, 0.8); ">
                                <span style="color: #000000; "><strong>* подробная информация на сайте</strong></span>
                            </p>

                            <p style="color: #444444; background-color: rgba(255, 243, 202, 0.8); ">
                                <span style="color: #000000; "><strong>https://warranty.shell.com/helix/ru#</strong></span>
                            </p>

                            <p style="color: #444444; background-color: rgba(255, 243, 202, 0.8); ">
                                &nbsp;
                            </p>
                        </div>
                    </div>

                    <div class="cc-clear "></div>
                </div>
                <div id="cc-m-7653762720 " class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7653689320 " class="j-module n j-header ">
                    <h1 class=" " id="cc-m-header-7653689320 ">Используем в работе:</h1>
                </div>
                <div id="cc-m-7653719420 " class="j-module n j-gallery ">
                    <div class="cc-m-gallery-container ccgalerie clearover " id="cc-m-gallery-7653719420 ">
                        <div class="thumb_sq3 " id="gallery_thumb_5243675420 " style="width:250px; height:250px; ">
                            <div>

                                <a rel="lightbox[7653719420] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/ic3af5d5a3867a3f0/version/1462008626/image.png " data-title="
        " data-index="0 "><img src="./static/img/tool_1.png " data-orig-width="200 " data-orig-height="195 " alt=" "></a>
                            </div>
                        </div>
                        <div class="thumb_sq3 " id="gallery_thumb_5243675320 " style="width:250px; height:250px; ">
                            <div>

                                <a rel="lightbox[7653719420] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/ie08f194d4e93385e/version/1462008626/image.png " data-title="
        " data-index="1 "><img src="./static/img/tool_2.png " data-orig-width="260 " data-orig-height="254 " alt=" "></a>
                            </div>
                        </div>
                        <div class="thumb_sq3 " id="gallery_thumb_5243675620 " style="width:250px; height:250px; ">
                            <div>

                                <a rel="lightbox[7653719420] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/i1f6a7368e08e3299/version/1462008626/image.png " data-title="
        " data-index="2 "><img src="./static/img/tool_3.png " data-orig-width="651 " data-orig-height="651 " alt=" "></a>
                            </div>
                        </div>
                        <div class="thumb_sq3 " id="gallery_thumb_5243675520 " style="width:250px; height:250px; ">
                            <div>

                                <a rel="lightbox[7653719420] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/i2e9f82e40e0f8e85/version/1462008626/image.png " data-title="
        " data-index="3 "><img src="./static/img/tool_4.png " data-orig-width="819 " data-orig-height="514 " alt=" "></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cc-m-7653737220 " class="j-module n j-text ">
                    <p style="color: #444444; text-align: justify; padding-left: 30px; background-color: rgba(255, 243, 202, 0.8); ">
                        <span style="color: #000000; "><strong>Компьютеризированный балансировочный стенд, который&nbsp;позволяет выполнять процедуру балансировки колес с недостижимой ранее точностью и скоростью.
    &nbsp;</strong></span>
                    </p>

                    <p style="color: #444444; text-align: justify; padding-left: 30px; background-color: rgba(255, 243, 202, 0.8); ">
                        <span style="color: #000000; "><strong>Шиномонтажное оборудование, разработанное специально для работы с низкопрофильной резиной и с шинами технологии Runflat. Профессиональная монтажная система
    не повреждает диски &nbsp;и экономит время.</strong></span>
                    </p>

                    <p style="color: #444444; text-align: justify; padding-left: 30px; background-color: rgba(255, 243, 202, 0.8); ">
                        <span style="color: #000000; "><strong><span style="text-align: start; ">Полностью автоматическую станцию для обслуживания и заправки кондиционера с системой регенерации
    фреона.&nbsp;</span></strong>
                        </span>
                    </p>
                </div>
                <div id="cc-m-7664780120 " class="j-module n j-spacing ">
                    <div class="cc-m-spacer " style="height: 22px; ">

                    </div>

                </div>
                <div id="cc-m-7664769520 " class="j-module n j-header ">
                    <h1 class=" " id="cc-m-header-7664769520 ">Как нас найти:</h1>
                </div>
                <div id="cc-m-8540475120 " class="j-module n j-textWithImage ">
                    <figure class="cc-imagewrapper cc-m-image-align-1 ">
                        <img id="cc-m-textwithimage-image-8540475120 " src="./static/img/nav_logo.png " alt=" " class=" " data-src-width="124 " data-src-height="124 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=63x1024:format=png/path/s1faea6e25e26af0b/image/i569f1fae8090dd1a/version/1530550415/image.png "
                            data-image-id="5540598620 ">

                    </figure>
                    <div>
                        <div id="cc-m-textwithimage-8540475120 " data-name="text " data-action="text " class="cc-m-textwithimage-inline-rte ">
                            <p>
                                <strong><span style="font-size: 18px; ">Наберите в программе Яндекс.Навигатор&nbsp; : <span style="color: #cc0000; ">ЧинимТачки</span></span></strong>
                            </p>

                            <p>
                                <strong><span style="font-size: 18px; ">И вы приедете прямо к нашим воротам!</span></strong>
                            </p>
                        </div>
                    </div>

                    <div class="cc-clear "></div>
                </div>
                <div id="cc-m-7681664920 " class="j-module n j-spacing ">
                    <div class="cc-m-spacer " style="height: 30px; ">

                    </div>

                </div>
                <div id="cc-m-7681665020 " class="j-module n j-hgrid ">
                    <div class="cc-m-hgrid-column " style="width: 49%; ">
                        <div id="cc-matrix-1937800920 "></div>
                    </div>
                    <div class="cc-m-hgrid-separator " data-display="cms-only ">
                        <div></div>
                    </div>
                    <div class="cc-m-hgrid-column last " style="width: 49%; ">
                        <div id="cc-matrix-1937801020 "></div>
                    </div>

                    <div class="cc-m-hgrid-overlay " data-display="cms-only "></div>

                    <br class="cc-clear ">

                </div>
                <div id="cc-m-7664769620 " class="j-module n j-textWithImage ">
                    <figure class="cc-imagewrapper cc-m-image-align-1 ">
                        <img src="./static/img/wash_3.jpg" alt=" " class=" " data-src-width="1632 " data-src-height="1224 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=485x1024:format=jpg/path/s1faea6e25e26af0b/image/ifad19d64527f4ccd/version/1472385687/image.jpg "
                            data-image-id="5249866120 ">

                    </figure>
                    <div>
                        <div id="cc-m-textwithimage-7664769620 " data-name="text " data-action="text " class="cc-m-textwithimage-inline-rte ">
                            <p>
                                <span style="color: #cc0000; "><strong>Кирпичный паркинг.</strong></span>
                            </p>

                            <p>
                                <strong>Въезд в ворота слева с надписью "МОЙКА ".</strong>
                            </p>

                            <p>
                                <strong>Мы находимся на минус 2-ом этаже.</strong>
                            </p>

                            <p>
                                <strong>Ждем вас ежедневно с 10.00-20.00</strong>
                            </p>
                        </div>
                    </div>

                    <div class="cc-clear "></div>
                </div>
                <div id="cc-m-7681665720 " class="j-module n j-hgrid ">
                    <div class="cc-m-hgrid-column " style="width: 49%; ">
                        <div id="cc-matrix-1937801320 ">
                            <div id="cc-m-7681668620 " class="j-module n j-header ">
                                <h1 class=" " id="cc-m-header-7681668620 ">Для Вашего автомобиля :</h1>
                            </div>
                            <div id="cc-m-7681665820 " class="j-module n j-text ">
                                <p>
                                    <strong>Новый слесарный цех, оснащенный современным профессиональным оборудованием</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="cc-m-hgrid-separator " data-display="cms-only ">
                        <div></div>
                    </div>
                    <div class="cc-m-hgrid-column last " style="width: 49%; ">
                        <div id="cc-matrix-1937801420 ">
                            <div id="cc-m-7681668720 " class="j-module n j-header ">
                                <h1 class=" " id="cc-m-header-7681668720 ">Для Вас:</h1>
                            </div>
                            <div id="cc-m-7681666420 " class="j-module n j-text ">
                                <p>
                                    <strong>Комфортная зона ожидания с бесплатным WiFi и вкусным кофе.</strong>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="cc-m-hgrid-overlay " data-display="cms-only "></div>

                    <br class="cc-clear ">

                </div>
                <div id="cc-m-7681665420 " class="j-module n j-hgrid ">
                    <div class="cc-m-hgrid-column " style="width: 49%; ">
                        <div id="cc-matrix-1937801120 ">
                            <div id="cc-m-7763430320 " class="j-module n j-imageSubtitle ">
                                <figure class="cc-imagewrapper cc-m-image-align-1 cc-m-width-maxed ">
                                    <img src="./static/img/wash_inside_1.jpg" alt=" " class=" " data-src-width="785 " data-src-height="589 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=505x10000:format=jpg/path/s1faea6e25e26af0b/image/i98de92dab3e11cce/version/1488640173/image.jpg "
                                        data-image-id="5301189720 ">

                                </figure>

                                <div class="cc-clear "></div>
                            </div>
                            <div id="cc-m-7763441920 " class="j-module n j-imageSubtitle ">
                                <figure class="cc-imagewrapper cc-m-image-align-1 ">
                                    <img src="./static/img/wash_inside_2.jpg" alt=" " class=" " data-src-width="957 " data-src-height="638 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=503x10000:format=jpg/path/s1faea6e25e26af0b/image/i7728a355cff953fd/version/1488640285/image.jpg "
                                        data-image-id="5301193720 ">

                                </figure>

                                <div class="cc-clear "></div>
                            </div>
                            <div id="cc-m-7681671720 " class="j-module n j-spacing ">
                                <div class="cc-m-spacer " style="height: 5px; ">

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="cc-m-hgrid-separator " data-display="cms-only ">
                        <div></div>
                    </div>
                    <div class="cc-m-hgrid-column last " style="width: 49%; ">
                        <div id="cc-matrix-1937801220 ">
                            <div id="cc-m-7681666620 " class="j-module n j-imageSubtitle ">
                                <figure class="cc-imagewrapper cc-m-image-align-2 cc-m-width-maxed ">
                                    <img src="./static/img/wash_inside_3.jpg" alt=" " class=" " data-src-width="5184 " data-src-height="3456 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=505x10000:format=jpg/path/s1faea6e25e26af0b/image/icf7344bdfed10b6b/version/1472749470/image.jpg "
                                        data-image-id="5260044020 ">

                                </figure>

                                <div class="cc-clear "></div>
                            </div>
                            <div id="cc-m-7763442420 " class="j-module n j-imageSubtitle ">
                                <figure class="cc-imagewrapper cc-m-image-align-1 ">
                                    <img src="./static/img/wash_inside_4.jpg" alt=" " class=" " data-src-width="544 " data-src-height="589 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=353x10000:format=jpg/path/s1faea6e25e26af0b/image/i76e9e3e7efa429f7/version/1488640305/image.jpg "
                                        data-image-id="5301194120 ">

                                </figure>

                                <div class="cc-clear "></div>
                            </div>
                        </div>
                    </div>

                    <div class="cc-m-hgrid-overlay " data-display="cms-only "></div>

                    <br class="cc-clear ">

                </div>
                <div id="cc-m-7681673620 " class="j-module n j-gallery ">
                    <div class="cc-m-gallery-container cc-m-gallery-cool clearover " id="cc-m-gallery-7681673620 ">
                        <div class="cc-m-gallery-cool-item " id="gallery_thumb_5260052120 ">
                            <div>

                                <a rel="lightbox[7681673620] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/i6530f59e77df29f4/version/1482920985/image.png " data-title="
                            " data-index="0 "><img src="./static/img/coffee.png " data-orig-width="780 " data-orig-height="780 " alt=" " style="height: 239px; width: 239px; margin-bottom: 9px; margin-right: 9px; "></a>
                            </div>
                        </div>
                        <div class="cc-m-gallery-cool-item " id="gallery_thumb_5260052220 ">
                            <div>

                                <a rel="lightbox[7681673620] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/iab15381609ef61d9/version/1482920985/image.png " data-title="
                            " data-index="1 "><img src="./static/img/conditioner.png " data-orig-width="512 " data-orig-height="512 " alt=" " style="height: 239px; width: 231px; margin-bottom: 9px; margin-right: 9px; "></a>
                            </div>
                        </div>
                        <div class="cc-m-gallery-cool-item " id="gallery_thumb_5260052320 ">
                            <div>

                                <a rel="lightbox[7681673620] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/ieb4fcd87fc2c3be7/version/1482920985/image.png " data-title="
                            " data-index="2 "><img src="./static/img/wifi.png " data-orig-width="256 " data-orig-height="256 " alt=" " style="height: 239px; width: 239px; margin-bottom: 9px; margin-right: 9px; "></a>
                            </div>
                        </div>
                        <div class="cc-m-gallery-cool-item " id="gallery_thumb_5279641920 ">
                            <div>

                                <a rel="lightbox[7681673620] " href="javascript: " data-href="https://image.jimcdn.com/app/cms/image/transf/none/path/s1faea6e25e26af0b/image/i566113383d2c8a6b/version/1482920985/image.png " data-title="
                            " data-index="3 "><img src="./static/img/card.png " data-orig-width="256 " data-orig-height="256 " alt=" " style="height: 239px; width: 240px; margin-bottom: 9px; "></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="cc-m-7653745620 " class="j-module n j-textWithImage ">
                    <figure class="cc-imagewrapper cc-m-image-align-1 ">
                        <img src="./static/img/phone_logo.png" alt=" " class=" " data-src-width="128 " data-src-height="128 " data-src="https://image.jimcdn.com/app/cms/image/transf/dimension=64x1024:format=png/path/s1faea6e25e26af0b/image/i324149833d1849ee/version/1462014486/image.png "
                            data-image-id="5243686920 ">

                    </figure>
                    <div>
                        <div id="cc-m-textwithimage-7653745620 " data-name="text " data-action="text " class="cc-m-textwithimage-inline-rte ">
                            <p>
                                <span style="font-weight: 700 !important; ">(499) 144-0529</span>
                            </p>

                            <p>
                                <span style="font-weight: 700 !important; ">(965) 208-9988</span>
                            </p>
                        </div>
                    </div>

                    <div class="cc-clear "></div>
                </div>
                <div id="cc-m-7681672520 " class="j-module n j-imageSubtitle "></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}