{% extends "base.html" %} {% block nav_prices %} jmd-nav__list-item-0 cc-nav-current j-nav-current jmd-nav__item--current {% endblock %}{% block content %}
<div class="jtpl-content content-options cc-content-parent">
    <div class="jtpl-content__inner content-padding cc-content-parent">
        <div class="jtpl-breadcrumb breadcrumb-options">
            <div data-container="navigation">
                <div class="j-nav-variant-breadcrumb">
                    <ol itemscope="true" itemtype="http://schema.org/BreadcrumbList">
                        <li itemscope="true" itemprop="itemListElement" itemtype="http://schema.org/ListItem" class="cc-nav-current j-nav-current"><a href="https://www.chinimtachki.ru/%D1%86%D0%B5%D0%BD%D1%8B/" data-link-title="Цены" itemprop="item" class="cc-nav-current j-nav-current"><span itemprop="name">Цены</span></a>
                            <meta itemprop="position" content="1">
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div id="content_area" data-container="content">
            <div id="content_start"></div>

            <div id="cc-matrix-1928164320">
                <div id="cc-m-7646049420" class="j-module n j-hgrid ">
                    <div class="cc-m-hgrid-column" style="width: 63.01%;">
                        <div id="cc-matrix-1928165220"></div>
                    </div>
                    <div class="cc-m-hgrid-separator" data-display="cms-only">
                        <div></div>
                    </div>
                    <div class="cc-m-hgrid-column last" style="width: 34.98%;">
                        <div id="cc-matrix-1928165320"></div>
                    </div>

                    <div class="cc-m-hgrid-overlay" data-display="cms-only"></div>

                    <br class="cc-clear">

                </div>
                <div id="cc-m-7653399220" class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7651278720" class="j-module n j-header ">
                    <h1 class="" id="cc-m-header-7651278720">Наши цены:</h1>
                </div>
                <div id="cc-m-7651278820" class="j-module n j-text ">
                    <ul>
                        <li>
                            <span style="font-size: 24px;">Замена масла и масляного фильтра двигателя &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<em>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp;</em><strong>от 800 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Замена тормозных колодок &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<strong>от 1500 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Диагностика подвески &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>от 800 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Компьютерная диагностика двигателя &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>от 1500 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Заправка кондиционера &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>от 4500 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Шиномонтаж и балансировка 4-х колес &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>от 2500 руб</strong>.</span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Замена масла в АКПП &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; <strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; от 3000 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Промывка инжекторов на автомобиле WYNN"S &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp;<strong>от 3500 руб.</strong></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Промывка радиаторов с разборкой&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; от<strong>&nbsp;5500 руб.</strong></span>
                        </li>
                    </ul>
                </div>
                <div id="cc-m-7653401420" class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7653401220" class="j-module n j-header ">
                    <h1 class="" id="cc-m-header-7653401220">Специальные предложения:</h1>
                </div>
                <div id="cc-m-7653749220" class="j-module n j-text ">
                    <p>
                        &nbsp;
                    </p>

                    <ul>
                        <li>
                            <span style="color: #000000;"><span style="line-height: 1.5em; font-size: 24px;">&nbsp;Масло Shell Helix Ultra Pure Plus ECT C3 5W30 1L&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 1<strong>800 руб.*</strong> &nbsp;</span><span style="line-height: 1.5em; font-size: 24px;">&nbsp;</span></span>
                        </li>
                    </ul>

                    <p>
                        <span style="line-height: 1.5em; font-size: 24px; color: #000000;">&nbsp; &nbsp; * <span style="font-size: 20px;">&nbsp;имеет допуск BMW LL04, GM DEXOS 2, MB 229.31, 229.51, VW 504.00,
    507.00</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="line-height: 1.5em;"><span style="color: #000000;">&nbsp; &nbsp; &nbsp; &nbsp;</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp;&nbsp;</span>
                    </p>
                </div>
                <div id="cc-m-7653402220" class="j-module n j-text ">
                    <p>
                        <b>&nbsp;</b>
                    </p>

                    <ul>
                        <li>
                            <span style="font-size: 24px;"><strong><span style="line-height: 1.5;">Диагностика перед покупкой/продажей автомобиля&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp;3000 руб.</span></strong>
                            </span>
                        </li>
                    </ul>

                    <ol>
                        <li>
                            <span style="line-height: 1.5; font-size: 24px;">Проверка подвески</span>
                        </li>

                        <li>
                            <span style="line-height: 1.5; font-size: 24px;">Проверка состояния тормозных колодок&nbsp;</span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Компьютерная диагностика (считывание кодов неисправностей) &nbsp;</span>
                        </li>
                    </ol>

                    <ul>
                        <li>
                            <span style="font-size: 24px;"><b>Комплексное техническое обслуживание&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;от 2500 руб.</b></span>
                        </li>
                    </ul>

                    <ol>
                        <li>
                            <span style="font-size: 24px;">Замена масла и фильтра двигателя</span>
                        </li>

                        <li>
                            <span style="font-size: 24px; line-height: 36px;">Диагностика подвески</span>
                        </li>

                        <li>
                            <span style="font-size: 24px; line-height: 36px;"><span style="line-height: 36px;">Диагностика тормозных колодок</span></span>
                        </li>

                        <li>
                            <span style="font-size: 24px;">Замена воздушного фильтра</span>
                        </li>

                        <li>
                            <span style="font-size: 24px; line-height: 36px;">Замена салонного фильтра</span>
                        </li>

                        <li>
                            <span style="font-size: 24px; line-height: 36px;"><span style="line-height: 36px;">Проверка уровня спец.жидкостей</span></span>
                        </li>

                        <li>
                            <span style="font-size: 24px; line-height: 36px;"><span style="line-height: 36px;"><span style="line-height: 36px;">Проверка работы электрооборудования</span></span>
                            </span>
                        </li>
                    </ol>
                </div>
                <div id="cc-m-7653402020" class="j-module n j-hr ">
                    <hr>
                </div>
                <div id="cc-m-7646049820" class="j-module n j-spacing ">
                    <div class="cc-m-spacer" style="height: 30px;">

                    </div>

                </div>
                <div id="cc-m-7651278620" class="j-module n j-text "></div>
            </div>

        </div>
    </div>
</div>
{% endblock %}