 {% extends "base.html" %} {% block content %}

<div class="jtpl-content content-options cc-content-parent">
    <div class="jtpl-content__inner content-padding cc-content-parent">
        <div class="jtpl-breadcrumb breadcrumb-options">
            <div data-container="navigation">
                <div class="j-nav-variant-breadcrumb">
                    <ol></ol>
                </div>
            </div>
        </div>
        <div id="content_area" data-container="content">
            <div class="j-static-page">
                <h1 class="n">Sitemap</h1>
                <ul class="sitemap">
                    <li><a href={{url_for( "main")}}>Главная</a></li>
                    <li><a href={{url_for( "prices")}}>Цены</a></li>
                    <li><a href={{url_for( "feedback")}}>Обратная связь</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
